
# Objetivo

* Hacer casting de tipos de datos.
* Manipular strings usando el módulo str.
* Aplicar funciones custom a un DataFrame.
* Aplicar filtros a nuestros datos.
* Ordenar nuestro dataset por columnas.

## Casting

In [2]:
import pandas as pd

In [3]:
## Casting
df = pd.read_csv('C:/Users/diana/OneDrive/Documents/Formacion/Cursos/BEDU/Repositorios/ProcesamientoDeDatos/S01/Data-Manipulation/Datasets/new_york_times_bestsellers-dirty.csv', index_col=0)
df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

In [4]:
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

**Que esta mal?**
* price.numberDouble es tipo object y debería de ser float.
* rank.numberInt es tipo object y debería de ser int.
* bestsellers_date.numberLong y published_date.numberLong son tipo object e int64 respectivamente, mientras que deberían de ser algún tipo de dato de  fecha y tiempo.

## Metodos de transformacion de datos numericos

### Astype

In [5]:
#Transformar los datos a float64
df['price.numberDouble'].astype(float)

0       25.99
1       24.95
2       22.95
3       24.95
5       26.95
        ...
3027    26.95
3028    27.95
3029    27.95
3030    26.95
3031    28.99
Name: price.numberDouble, Length: 2266, dtype: float64

In [6]:
# Reasignar el resultado a la columna original
df['price.numberDouble'] = df['price.numberDouble'].astype(float)

In [7]:
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

#### Metodo Aspype multiple

Podemos escribir un diccionario que sea un mapa entre las columnas que queremos transformar y el tipo de dato al que queremos transformarlas

In [8]:
diccionario_casting = {
    'rank_last_week.numberInt': int,
    'weeks_on_list.numberInt': int,
    'price.numberDouble': float
}
#Astype
df.astype(diccionario_casting).dtypes
#Reasignar el DataFrame
df= df.astype(diccionario_casting)

df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int32
weeks_on_list.numberInt          int32
price.numberDouble             float64
dtype: object

In [9]:
#Convertir a int
df['rank.numberInt'].astype(int)

ValueError: invalid literal for int() with base 10: 'No Rank'

El error menciona la existencia de datos 'No Rank' los cuales son de tipo string por lo que no pueden ser convertidos a int.
Cuando hay datos que no pueden ser transformados al tipo que queremos, necesitamos usar otro método.

### To_numeric

Para convertir datos a datos numéricos tenemos to_numeric.

In [10]:
# Aplicando un filtro
df[df['rank.numberInt'] == 'No Rank']

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
13,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db1a0,2008-05-31 00:00:00,1213488000000,No Rank,2,4,25.99
72,http://www.amazon.com/The-Broken-Window-Lincol...,Jeffery Deaver,Descr: Detectives Lincoln Rhyme and Amelia Sac...,Simon & Schuster,THE BROKEN WINDOW,5b4aa4ead3089013507db1fa,2008-06-28 00:00:00,1215907200000,No Rank,8,3,26.95
133,http://www.amazon.com/Fearless-Fourteen-Janet-...,Janet Evanovich,Descr: Stephanie Plum and her boyfriend Joe Mo...,St. Martin’s,FEARLESS FOURTEEN,5b4aa4ead3089013507db25e,2008-08-02 00:00:00,1218931200000,No Rank,9,7,27.95
154,http://www.amazon.com/The-Mercedes-Coffin-Deck...,Faye Kellerman,Descr: Decker and Lazarus investigate cases of...,Morrow,THE MERCEDES COFFIN,5b4aa4ead3089013507db282,2008-08-16 00:00:00,1220140800000,No Rank,0,1,25.95
158,http://www.amazon.com/Foreign-Body-Robin-Cook/...,Robin Cook,Descr: A medical student investigates a rising...,Putnam,FOREIGN BODY,5b4aa4ead3089013507db287,2008-08-16 00:00:00,1220140800000,No Rank,9,2,25.95
...,...,...,...,...,...,...,...,...,...,...,...,...
2920,http://www.amazon.com/Twelve-Digital-Edition-V...,Ayana Mathis,Descr: Fifty-some years in the life of an Afri...,Knopf,THE TWELVE TRIBES OF HATTIE,5b4aa4ead3089013507dc4cb,2013-02-09 00:00:00,1361664000000,No Rank,14,9,24.95
2942,http://www.amazon.com/The-Sound-Broken-Glass-K...,Deborah Crombie,"Descr: Detectives Gemma Jones and her husband,...",Morrow/HarperCollins,THE SOUND OF BROKEN GLASS,5b4aa4ead3089013507dc4f3,2013-02-23 00:00:00,1362873600000,No Rank,0,1,25.99
2952,http://www.amazon.com/A-Week-Winter-Maeve-Binc...,Maeve Binchy,Descr: Guests at an inn by the sea on Ireland’...,Knopf,A WEEK IN WINTER,5b4aa4ead3089013507dc503,2013-03-02 00:00:00,1363478400000,No Rank,2,3,26.95
2961,http://www.amazon.com/The-Storyteller-Jodi-Pic...,Jodi Picoult,Descr: A New Hampshire baker finds herself in ...,Emily Bestler/Atria,THE STORYTELLER,5b4aa4ead3089013507dc515,2013-03-09 00:00:00,1364083200000,No Rank,2,2,28.99
3021,http://www.amazon.com/Alex-Cross-Run-James-Pat...,James Patterson,Descr: While Alex Cross pursues a Washington s...,"Little, Brown","ALEX CROSS, RUN",5b4aa4ead3089013507dc586,2013-04-13 00:00:00,1367107200000,No Rank,11,8,28.99

Para comenzar con la transformacion debemos  avisarle a nuestro método qué hacer con los datos que no pueden ser convertidos. Para esto usamos el argumento errors= y le pasamos una de 3 opciones:
* 'ignore': Cuando encontremos un dato que no pueda ser convertido, simplemente regresamos el dato original (lo cual no queremos porque al final de cuenta el tipo de dato de la Serie va a ser object).
* 'raise': Cuando no podamos convertir un dato, lancemos un error (esto es justo lo que acaba de suceder).
* 'coerce': Cuando no podamos convertir un dato, lo convertimos a NaN y continuamos con la conversión

In [11]:
pd.to_numeric(df['rank.numberInt'], errors='coerce')

0        2.0
1        3.0
2        4.0
3        5.0
5        7.0
        ...
3027     8.0
3028     9.0
3029    11.0
3030    13.0
3031    14.0
Name: rank.numberInt, Length: 2266, dtype: float64

In [12]:
# Reasignamos a la columna original
df['rank.numberInt'] = pd.to_numeric(df['rank.numberInt'], errors='coerce')

In [13]:
#Ahora limpiamos los NaNs
df = df.dropna(axis=0)
#Reseteamos el indice
df = df.reset_index(drop=True)

In [14]:
# Conversion final a int con astype
df['rank.numberInt'] = df['rank.numberInt'].astype(int)
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                   int32
rank_last_week.numberInt         int32
weeks_on_list.numberInt          int32
price.numberDouble             float64
dtype: object

### Datetime64

Utilizando objetos de este tipo puedes manipular fechas y horarios con muchísima flexibilidad [aquí puedes ver la documentación](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html). Por lo pronto vamos a aprender simplemente cómo transformar datos en tipo datetime64. Esto puede lograrse muy fácilmente con el método to_datetime de pandas.

Hay dos tipos diferentes de fechas en nuestro DataFrame:
* bestsellers_date.numberLong  es una string que representa la fecha junto con hora, minutos y segundos (aunque estos últimos están en ceros). 
* published_date.numberLong es un int que representa el número de milisegundos que han transcurrido desde la “Época". La "Época" es la medianoche UTC del 1 de enero de 1970.

In [15]:
# Para bestsellers_date.numberLong
pd.to_datetime(df['bestsellers_date.numberLong'])

0      2008-05-24
1      2008-05-24
2      2008-05-24
3      2008-05-24
4      2008-05-24
          ...
2041   2013-04-20
2042   2013-04-20
2043   2013-04-20
2044   2013-04-20
2045   2013-04-20
Name: bestsellers_date.numberLong, Length: 2046, dtype: datetime64[ns]

In [16]:
# Para published_date.numberLong
#unit='ms' representa la unidad en milisegundos
#El default es asumir que la fecha está representada en 'nanosegundos' desde "la Época"
pd.to_datetime(df['published_date.numberLong'], unit='ms')

0      2008-06-08
1      2008-06-08
2      2008-06-08
3      2008-06-08
4      2008-06-08
          ...
2041   2013-05-05
2042   2013-05-05
2043   2013-05-05
2044   2013-05-05
2045   2013-05-05
Name: published_date.numberLong, Length: 2046, dtype: datetime64[ns]

In [17]:
#Reasignar valores a la columna original
df['bestsellers_date.numberLong'] = pd.to_datetime(df['bestsellers_date.numberLong'])
df['published_date.numberLong'] = pd.to_datetime(df['published_date.numberLong'], unit='ms')

df.dtypes

amazon_product_url                     object
author                                 object
description                            object
publisher                              object
title                                  object
oid                                    object
bestsellers_date.numberLong    datetime64[ns]
published_date.numberLong      datetime64[ns]
rank.numberInt                          int32
rank_last_week.numberInt                int32
weeks_on_list.numberInt                 int32
price.numberDouble                    float64
dtype: object

In [18]:
# Por estica cambiamos el nombre de las columnas
diccionario_renombramiento = {
    'bestsellers_date.numberLong': 'bestsellers_date',
    'published_date.numberLong': 'published_date',
    'rank.numberInt': 'rank',
    'rank_last_week.numberInt': 'rank_last_week',
    'weeks_on_list.numberInt': 'weeks_on_list',
    'price.numberDouble': 'price'
}

df = df.rename(columns=diccionario_renombramiento)

## Manipulacion de String

### Replace y strip

Todas las strings comienzan con el texto 'Descr:' que es en realidad bastante redundante puesto que pertenecen a la columna description. Podemos remover esa parte del texto usando el método replace de la propiedad str de nuestra Serie.

El método **replace** recibe la secuencia de caracteres que queremos buscar en nuestras strings y también la secuencia de caracteres que queremos usar para reemplazarla

In [19]:
df['description']

0       Descr: Aliens have taken control of the minds ...
1       Descr: A woman's happy marriage is shaken when...
2       Descr: A Massachusetts state investigator and ...
3       Descr: An aging porn queens aims to cap her ca...
4       Descr: The Minneapolis detective Lucas Davenpo...
                              ...
2041    Descr: The New York lawyer Stone Barrington di...
2042    Descr: Jake Fisher discovers that neither the ...
2043    Descr: Six friends meet in the 1970s at a summ...
2044    Descr: Bernie Gunther, the Berlin cop, is sent...
2045    Descr: A New Hampshire baker finds herself in ...
Name: description, Length: 2046, dtype: object

In [20]:
#Replace
# Remplazar un caracter por otro
df['description'].str.replace('Descr:','')

0        Aliens have taken control of the minds and bo...
1        A woman's happy marriage is shaken when she e...
2        A Massachusetts state investigator and his te...
3        An aging porn queens aims to cap her career b...
4        The Minneapolis detective Lucas Davenport inv...
                              ...
2041     The New York lawyer Stone Barrington discover...
2042     Jake Fisher discovers that neither the woman ...
2043     Six friends meet in the 1970s at a summer art...
2044     Bernie Gunther, the Berlin cop, is sent to Sm...
2045     A New Hampshire baker finds herself in the mi...
Name: description, Length: 2046, dtype: object

In [21]:
#Reasignar tu resultado para modificar el DataFrame original
df['description'] = df['description'].str.replace('Descr:','')

In [22]:
df.loc[0,'description']

' Aliens have taken control of the minds and bodies of most humans, but one woman won’t surrender.     '

Contiene espacios al principio y al final

In [23]:
#Strip
#Remover espacios con str
df['description'] = df['description'].str.strip()

In [24]:
df.loc[0,'description']

'Aliens have taken control of the minds and bodies of most humans, but one woman won’t surrender.'

### Title

'Title' convierte a mayúsculas la primera letra de cada palabra y a minúsculas el resto

In [25]:
df['title']

0                       THE HOST
1       LOVE THE ONE YOU'RE WITH
2                      THE FRONT
3                          SNUFF
4                   PHANTOM PREY
                  ...
2041     UNINTENDED CONSEQUENCES
2042                   SIX YEARS
2043            THE INTERESTINGS
2044        A MAN WITHOUT BREATH
2045             THE STORYTELLER
Name: title, Length: 2046, dtype: object

In [26]:
#Aplicando Title
df['title'] = df['title'].str.title()
df['title']

0                       The Host
1       Love The One You'Re With
2                      The Front
3                          Snuff
4                   Phantom Prey
                  ...
2041     Unintended Consequences
2042                   Six Years
2043            The Interestings
2044        A Man Without Breath
2045             The Storyteller
Name: title, Length: 2046, dtype: object

### Upper

upper convierte todo a mayúsculas

In [27]:
df['title'] = df['title'].str.upper()
df['title']

0                       THE HOST
1       LOVE THE ONE YOU'RE WITH
2                      THE FRONT
3                          SNUFF
4                   PHANTOM PREY
                  ...
2041     UNINTENDED CONSEQUENCES
2042                   SIX YEARS
2043            THE INTERESTINGS
2044        A MAN WITHOUT BREATH
2045             THE STORYTELLER
Name: title, Length: 2046, dtype: object

### Lower

lower convierte todo a minúsculas.

In [28]:
df['title'] = df['title'].str.lower()
df['title']

0                       the host
1       love the one you're with
2                      the front
3                          snuff
4                   phantom prey
                  ...
2041     unintended consequences
2042                   six years
2043            the interestings
2044        a man without breath
2045             the storyteller
Name: title, Length: 2046, dtype: object

### Split

Dividir una string mediante un delimitador

* Usamos el identificador regex \s que significa "espacios vacíos" para encontrar todos los espacios vacíos y separar la string a partir de los hallazgos.
* Para obtener dos columnas que contengan esos valores, en vez de una sola, podemos usar la bandera expand=True:

In [29]:
df['author'].str.split('/s', expand=True)

                      0
0       Stephenie Meyer
1          Emily Giffin
2     Patricia Cornwell
3       Chuck Palahniuk
4         John Sandford
...                 ...
2041       Stuart Woods
2042       Harlan Coben
2043       Meg Wolitzer
2044        Philip Kerr
2045       Jodi Picoult

[2046 rows x 1 columns]

In [30]:
#Reasignanod al dataframe original con doble asignacion
df[['author_first_name', 'author_last_name']] = df['author'].str.split('\s', expand=True)

In [31]:
df.columns

Index(['amazon_product_url', 'author', 'description', 'publisher', 'title',
       'oid', 'bestsellers_date', 'published_date', 'rank', 'rank_last_week',
       'weeks_on_list', 'price', 'author_first_name', 'author_last_name'],
      dtype='object')

In [32]:
df.head(2)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date,published_date,rank,rank_last_week,weeks_on_list,price,author_first_name,author_last_name
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,"Little, Brown",the host,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,2,1,3,25.99,Stephenie,Meyer
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman's happy marriage is shaken when she en...,St. Martin's,love the one you're with,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,3,2,2,24.95,Emily,Giffin

### Map

Map es un método de Series que sirve para sustituir un valor con otro valor. Hay dos maneras de especificar la sustitución: usando un "mapa" o usando una función. Un "mapa" es básicamente un diccionario que "mapea" de un valor a otro valor. Entra un valor (la "llave") y sale otro valor (el "valor" que corresponde a dicha "llave").

In [33]:
df['rank'].unique()

array([ 2,  3,  4,  5,  7,  8,  9, 10, 12, 13, 14,  6, 11, 15,  1, 16])

In [34]:
#Creando el mapa
int_a_letra = {
    1: 'a',
    2: 'b',
    3: 'c',
    4: 'd',
    5: 'e',
    6: 'f',
    7: 'g',
    8: 'h',
    9: 'i',
    10: 'j',
    11: 'k',
    12: 'l',
    13: 'm',
    14: 'n',
    15: 'o',
    16: 'p'
}

In [35]:
#Usando map para transformar los dtaos
df['rank'].map(int_a_letra).head(20)

0     b
1     c
2     d
3     e
4     g
5     h
6     i
7     j
8     l
9     m
10    n
11    d
12    f
13    g
14    h
15    i
16    j
17    k
18    l
19    m
Name: rank, dtype: object

### Apply

Podemos usar la función apply para aplicar una función a una Serie o a un DataFrame. Si la aplicamos a una Serie, podemos aplicar una función "elemento por elemento" o como agregación. Si la aplicamos a un DataFrame podemos elegir si aplicarla a través del axis 0 (aplicar la función a cada columna) o a través del axis 1(a cada fila).

In [36]:
#Regex
import re
regex_to_find_women = re.compile('(wom[(a|e)]n\s|\swom[(a|e)]n\s|\swom[(a|e)]n\.)' , flags=re.IGNORECASE)
regex_to_find_men = re.compile('(^m[(a|e)]n\s|\sm[(a|e)]n\s|\sm[(a|e)]n\.)', flags=re.IGNORECASE)

In [37]:
def return_gender_in_description(value):

    women_found = False
    men_found = False
    
    if len(regex_to_find_women.findall(value)) > 0:
        women_found = True
    
    if len(regex_to_find_men.findall(value)) > 0:
        men_found = True
        
    if women_found and men_found:
        return 'Both'
    elif women_found:
        return 'Women'
    elif men_found:
        return 'Men'
    else:
        return 'Neither'

In [55]:
df['description'].apply(return_gender_in_description)

0         Women
1       Neither
2       Neither
3           Men
4       Neither
         ...
2041    Neither
2042      Women
2043    Neither
2044    Neither
2045    Neither
Name: description, Length: 2046, dtype: object

In [56]:
df['gender_in_description'] = df['description'].apply(return_gender_in_description)

In [58]:
df_copy = df.copy()

In [59]:
print(df_copy.columns)

Index(['amazon_product_url', 'author', 'description', 'publisher', 'title',
       'oid', 'bestsellers_date', 'published_date', 'rank', 'rank_last_week',
       'weeks_on_list', 'price', 'author_first_name', 'author_last_name',
       'gender_in_description'],
      dtype='object')

In [60]:
df_copy[df_copy['gender_in_description'] == 'Both']

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date,published_date,rank,rank_last_week,weeks_on_list,price,author_first_name,author_last_name,gender_in_description
1308,http://www.amazon.com/The-Priests-Graveyard-Te...,Ted Dekker,A priest and a young woman cross paths as they...,Center Street,the priest's graveyard,5b4aa4ead3089013507dbd73,2011-04-23,2011-05-08,9,0,1,24.99,Ted,Dekker,Both
1496,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dbf5f,2011-10-15,2011-10-30,1,0,1,25.99,Nicholas,Sparks,Both
1517,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dbf89,2011-10-29,2011-11-13,3,1,3,25.99,Nicholas,Sparks,Both
1532,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dbfb2,2011-11-12,2011-11-27,4,3,5,25.99,Nicholas,Sparks,Both
1539,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dbfc8,2011-11-19,2011-12-04,6,4,6,25.99,Nicholas,Sparks,Both
1547,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dbfdd,2011-11-26,2011-12-11,7,6,7,25.99,Nicholas,Sparks,Both
1553,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dbff0,2011-12-03,2011-12-18,6,7,8,25.99,Nicholas,Sparks,Both
1561,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dc006,2011-12-10,2011-12-25,8,6,9,25.99,Nicholas,Sparks,Both
1568,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dc018,2011-12-17,2012-01-01,6,8,10,25.99,Nicholas,Sparks,Both
1582,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dc041,2011-12-31,2012-01-15,7,6,12,25.99,Nicholas,Sparks,Both
1586,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dc057,2012-01-07,2012-01-22,9,7,13,25.99,Nicholas,Sparks,Both
1602,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dc084,2012-01-21,2012-02-05,14,14,15,25.99,Nicholas,Sparks,Both
1609,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dc099,2012-01-28,2012-02-12,15,14,16,25.99,Nicholas,Sparks,Both
1618,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Twenty-five years after their high school roma...,Grand Central,the best of me,5b4aa4ead3089013507dc0ac,2012-02-04,2012-02-19,14,15,17,25.99,Nicholas,Sparks,Both
1654,http://www.amazon.com/Another-Piece-Heart-Jane...,Jane Green,A woman in her late 30s marries the man of her...,St. Martin’s,another piece of my heart,5b4aa4ead3089013507dc126,2012-03-17,2012-04-01,16,0,1,25.99,Jane,Green,Both

In [61]:
df_copy.loc[1308, 'description']

'A priest and a young woman cross paths as they seek to bring a powerful man to justice.'

### Filtros

Usamos un operador de comparación para realizar una comparación "elemento por elemento" de alguna Serie. Por ejemplo, vamos a ver el filtro que acabamos de usar:

In [62]:
df_copy['gender_in_description'] == 'Both'

0       False
1       False
2       False
3       False
4       False
        ...
2041    False
2042    False
2043    False
2044    False
2045    False
Name: gender_in_description, Length: 2046, dtype: bool

Al realizar la comparación lo que obtenemos de regreso es una Serie con la misma longitud que la Serie original. La comparación se aplica "elemento por elemento", cuando la comparación es cierta, regresamos True, cuando es false, regresamos False. Entonces lo que obtenemos es una Serie con Trues y Falses que nos indica en qué índices la comparación fue cierta y en cuáles no.

**Aprovechando los filtros**

Esta "serie-filtro" podemos guardarla en una variable y luego usarla como filtro para pedirle al DataFrame solamente las filas donde el valor correspondiente sea True:

In [63]:
filtro_both = df_copy['gender_in_description'] == 'Both'

In [64]:
#Contar el numero de filas
df[filtro_both].count()

amazon_product_url       15
author                   15
description              15
publisher                15
title                    15
oid                      15
bestsellers_date         15
published_date           15
rank                     15
rank_last_week           15
weeks_on_list            15
price                    15
author_first_name        15
author_last_name         15
gender_in_description    15
dtype: int64

Podemos ver que hay 15 filas (en cada columna, pero son la misma en todas) donde la gender_in_description es igual a "Both"

**IMPORTANTE**

No es necesario asignar el filtro a una variable para después pasarlo al operador de indexaciòn del DataFrame

In [65]:
#Ejemplo: 
#Filtro donde el nombre en la columna author_first_name empiece con la letra 'A':
df[df['author_first_name'].str.startswith('A')]

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date,published_date,rank,rank_last_week,weeks_on_list,price,author_first_name,author_last_name,gender_in_description
109,http://www.amazon.com/The-Gargoyle-Andrew-Davi...,Andrew Davidson,A hideously burned man is cared for by a sculp...,Doubleday,the gargoyle,5b4aa4ead3089013507db274,2008-08-09,2008-08-24,14,0,1,25.95,Andrew,Davidson,Men
119,http://www.amazon.com/The-Gargoyle-Andrew-Davi...,Andrew Davidson,A hideously burned man is cared for by a sculp...,Doubleday,the gargoyle,5b4aa4ead3089013507db28a,2008-08-16,2008-08-31,16,14,2,25.95,Andrew,Davidson,Men
126,http://www.amazon.com/The-Gargoyle-Andrew-Davi...,Andrew Davidson,A hideously burned man is cared for by a sculp...,Doubleday,the gargoyle,5b4aa4ead3089013507db29b,2008-08-23,2008-09-07,13,16,3,25.95,Andrew,Davidson,Men
202,http://www.amazon.com/Testimony-A-Novel-Anita-...,Anita Shreve,A sex scandal at a Vermont prep school is caug...,"Little, Brown",testimony,5b4aa4ead3089013507db34a,2008-10-25,2008-11-09,8,0,1,25.99,Anita,Shreve,Neither
211,http://www.amazon.com/Testimony-A-Novel-Anita-...,Anita Shreve,A sex scandal at a Vermont prep school is caug...,"Little, Brown",testimony,5b4aa4ead3089013507db35f,2008-11-01,2008-11-16,9,8,2,25.99,Anita,Shreve,Neither
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948,http://www.amazon.com/Twelve-Digital-Edition-V...,Ayana Mathis,Fifty-some years in the life of an African-Ame...,Knopf,the twelve tribes of hattie,5b4aa4ead3089013507dc48e,2013-01-19,2013-02-03,8,7,6,24.95,Ayana,Mathis,Neither
1958,http://www.amazon.com/Twelve-Digital-Edition-V...,Ayana Mathis,Fifty-some years in the life of an African-Ame...,Knopf,the twelve tribes of hattie,5b4aa4ead3089013507dc4a4,2013-01-26,2013-02-10,10,8,7,24.95,Ayana,Mathis,Neither
1969,http://www.amazon.com/Twelve-Digital-Edition-V...,Ayana Mathis,Fifty-some years in the life of an African-Ame...,Knopf,the twelve tribes of hattie,5b4aa4ead3089013507dc4bc,2013-02-02,2013-02-17,14,10,8,24.95,Ayana,Mathis,Neither
1982,http://www.amazon.com/Night-Ranger-John-Wells-...,Alex Berenson,The former C.I.A. operative John Wells pitches...,Putnam,the night ranger,5b4aa4ead3089013507dc4e0,2013-02-16,2013-03-03,10,0,1,27.95,Alex,Berenson,Neither
1985,http://www.amazon.com/Twelve-Digital-Edition-V...,Ayana Mathis,Fifty-some years in the life of an African-Ame...,Knopf,the twelve tribes of hattie,5b4aa4ead3089013507dc4e4,2013-02-16,2013-03-03,14,9,10,24.95,Ayana,Mathis,Neither

In [66]:
#Ejemplo:
#Filtro donde el valor de la columa 'price' sea mayor a 20
df[df['price'] > 20]

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date,published_date,rank,rank_last_week,weeks_on_list,price,author_first_name,author_last_name,gender_in_description
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,"Little, Brown",the host,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,2,1,3,25.99,Stephenie,Meyer,Women
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman's happy marriage is shaken when she en...,St. Martin's,love the one you're with,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,3,2,2,24.95,Emily,Giffin,Neither
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,A Massachusetts state investigator and his tea...,Putnam,the front,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,4,0,1,22.95,Patricia,Cornwell,Neither
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,An aging porn queens aims to cap her career by...,Doubleday,snuff,5b4aa4ead3089013507db18f,2008-05-24,2008-06-08,5,0,1,24.95,Chuck,Palahniuk,Men
4,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,The Minneapolis detective Lucas Davenport inve...,Putnam,phantom prey,5b4aa4ead3089013507db191,2008-05-24,2008-06-08,7,4,3,26.95,John,Sandford,Neither
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2041,http://www.amazon.com/Unintended-Consequences-...,Stuart Woods,The New York lawyer Stone Barrington discovers...,Putnam,unintended consequences,5b4aa4ead3089013507dc592,2013-04-20,2013-05-05,8,4,2,26.95,Stuart,Woods,Neither
2042,http://www.amazon.com/Six-Years-Harlan-Coben/d...,Harlan Coben,Jake Fisher discovers that neither the woman h...,Dutton,six years,5b4aa4ead3089013507dc593,2013-04-20,2013-05-05,9,8,5,27.95,Harlan,Coben,Women
2043,http://www.amazon.com/The-Interestings-Novel-M...,Meg Wolitzer,Six friends meet in the 1970s at a summer arts...,Riverhead,the interestings,5b4aa4ead3089013507dc595,2013-04-20,2013-05-05,11,11,2,27.95,Meg,Wolitzer,Neither
2044,http://www.amazon.com/Man-Without-Breath-Berni...,Philip Kerr,"Bernie Gunther, the Berlin cop, is sent to Smo...",Marian Wood/Putnam,a man without breath,5b4aa4ead3089013507dc597,2013-04-20,2013-05-05,13,0,1,26.95,Philip,Kerr,Neither
2045,http://www.amazon.com/The-Storyteller-Jodi-Pic...,Jodi Picoult,A New Hampshire baker finds herself in the mid...,Emily Bestler/Atria,the storyteller,5b4aa4ead3089013507dc598,2013-04-20,2013-05-05,14,10,8,28.99,Jodi,Picoult,Neither